./obj/*
./bin/*
./.vs/*
.vs/hashCode/v15/.suo
.vs/hashCode/v15/sqlite3/storage.ide
bin/Debug/hashCode.exe
obj/x86/Debug/hashCode.csproj.CoreCompileInputs.cache
obj/x86/Debug/hashCode.csprojResolveAssemblyReference.cache
